{% extends 'base.html' %}

{% block title %}

Admin Dashboard

{% endblock %}

{% block page_title %}

Admin Dashboard

{% endblock %}

{% block content %}

<h2>

Welcome {{ request.user.username }}

</h2>

<div class="row">

<div class="col-md-3">

<div class="card p-4">

<h5>

Employees

</h5>

<h1>

{{ total_employees }}

</h1>

</div>

</div>

<div class="col-md-3">

<div class="card p-4">

<h5>

Attendance

</h5>

<h1>

{{ total_attendance }}

</h1>

</div>

</div>

<div class="col-md-3">

<div class="card p-4">

<h5>

Pending Leaves

</h5>

<h1>

{{ pending_leaves }}

</h1>

</div>

</div>

</div>

{% endblock %}